header h2{
    font-family: 'Rokkitt', serif;
}

header h2:after{
    content: '';
    position: absolute;
    top: 33px;
    left: 15px;
    width: 38px;
    border: 1px solid #000;
}

header p{
    font-family: 'Roboto', sans-serif;
}

.elige{
    color: #cccc;
    width: 13rem;
}

.seleccionar{
    margin-top: 2rem;
}
.imagen{
    margin-top: 3rem;
    background-color: #F9A91A;
    height: 30rem;
}
.img{
    height: 30rem;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
    background-color: #333333;
    color: #fff;
}
.color{
    text-align: center;
    background-color: #F9A91A;
}

.formulario label, .formulario input{
    margin-bottom: 2rem;
}

#ceroPadd{
    padding: 0;
}